
---
import siteConfig, { type Link } from "../site.config";
import Hamburger from "./Hamburger.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
import SiteIdentity from "./SiteIdentity.astro";
import NavLinks from "./NavLinks.astro";
import { withBase } from "../utils/helpers";
const { activePage } = Astro.props;
---

<header>
  <nav class="font-light w-full">
    <a href={withBase("/")}><SiteIdentity /></a>
    <div class="hidden sm:flex sm:gap-8">
      {(<NavLinks activePage={activePage} links={siteConfig.headerNavLinks} />)}
    </div>
    <ThemeSwitcher />
    <Hamburger />
  </nav>
  <div
    id="mobile-links"
    class="font-light animated opacity-0 top-0 w-full h-0"
  >
    <span class="close-menu">❌</span>
    <NavLinks
      activePage={activePage}
      links={siteConfig.headerNavLinks}
      isMobileLink={true}
    />
  </div>
</header>
<script is:inline>
  const mobileLinks = document.querySelector("#mobile-links");
  const hamburgerMenu = document.querySelector("#hamburger-menu");
  const closeMenuButton = document.querySelector(".close-menu");

  const openMenu = () => {
    mobileLinks.classList.remove("slideOutUp", "h-0");
    mobileLinks.classList.add("expanded", "slideInDown");
    mobileLinks.addEventListener('animationend', () => {
      mobileLinks.classList.remove("slideInDown");
    }, { once: true });
  };

  const closeMenu = () => {
    mobileLinks.classList.add("slideOutUp");
    mobileLinks.classList.remove("slideInDown");
    mobileLinks.addEventListener('animationend', () => {
      mobileLinks.classList.remove("expanded", "slideOutUp");
      mobileLinks.classList.add("h-0");
    }, { once: true });
  };

  hamburgerMenu.addEventListener("click", openMenu);
  closeMenuButton.addEventListener("click", closeMenu);
</script>

<style>
  @media (orientation: portrait) {
    #mobile-links.expanded {
      align-items: end;
      background-color: #0000007a;
      backdrop-filter: blur(72px);
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: start;
      position: absolute;
      z-index: 10;
      opacity: 1;
      padding: 4rem 2rem 1rem;
      width: 100vw;
      top: 0;
      height: 100vh;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
    html.light #mobile-links.expanded {
      background-color: #ffffff6a;
    }
  }
</style>
